<div class="col-xs-12 col-md-3">
    <div id="profile">
        <div class="small-portrait" itemprop="image" style="background-image: url('{{ .Site.BaseURL }}/{{ .Params.portrait }}');"></div>
        <div class="portrait-title">
            <h3 itemprop="name">
                {{if isset .Params "external_link"}}
                <a href="{{ .Params.external_link }}">
                    {{ .Params.name }}
                </a>
                {{else}}
                <a href="{{ .Permalink }}">{{ .Params.name }}</a>
                {{end}}
            </h3>
            {{ range .Params.organizations }}
                <h4>{{.name}}</h4>
            {{ end }}
        </div>

    </div>
</div>